@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar a {
  padding: 10px 20px;
  margin: 0 5px;
  color: #fff;
}

.navbar ul {
  display: flex;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar .logo {
  font-weight: 400;
}

/* Header */

.hero {
  height: 100vh;
  position: relative;
  background: url("https://images.pexels.com/photos/3988366/pexels-photo-3988366.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    no-repeat center center/cover;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}
.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.hero * {
  z-index: 10;
}

/*   icons section */

.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
}

.flex-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
}
